body {
  background-color: rgb(201, 186, 129);
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
}

.column1 {
  width: 30%;
  padding: 5px;
  height: auto;
  float: left;
}
